In [2]:
import pandas as pd
import numpy as np
import datetime
import random

In [3]:
data = pd.read_csv('businessBIBA_challenge.csv')
data.head()

,Unnamed: 0,ID,UPDATE,STATUS,MOTIVE,INTEREST_RATE,AMOUNT,CAT,TXN,CP,DELIVERY_SCORE
0,0,1,59:50.4,RESPONSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,46:41.4,RISK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1,14:50.5,APPROVED,DIGITAL,40.0,1300.0,49.0,NaN,NaN,NaN
3,3,1,08:23.4,NaN,NaN,NaN,NaN,NaN,434.112066,NaN,NaN
4,4,2,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Function that generates random dates from start date to the actual date.
def random_date(start,end):
    new_time = start + datetime.timedelta(seconds= int((end-start).total_seconds()*random.random()))
    return new_time

In [5]:
#Generate a list of coherent random dates, where the dates follow the response, risk, delivered/approved 
#and transaction chronological order. Time limit for risk response 

for i in range(len(data)):
    if i==0:
        data.at[i,"UPDATE"]= random_date(datetime.datetime(2021,1,1,0,0,1),datetime.datetime.today())
        
    elif data.loc[i]['ID'] != data.loc[i-1]['ID']:
        data.at[i,"UPDATE"]= random_date(datetime.datetime(2021,1,1,0,0,1),datetime.datetime.today())
    
    #Time limit for risk response is 7 days.
    elif data.loc[i]['ID'] == data.loc[i-1]['ID'] and data.loc[i]['STATUS']=='RISK':
        start = data.loc[i-1]['UPDATE']
        end = start + datetime.timedelta(days= 7)
        data.at[i,"UPDATE"]= random_date(start,end)
    
    #Time limit for approved or rejected response is 7 days.
    elif data.loc[i]['ID'] == data.loc[i-1]['ID'] and data.loc[i]['STATUS']=='APPROVED':
        start = data.loc[i-1]['UPDATE']
        end = start + datetime.timedelta(days= 7)
        data.at[i,"UPDATE"]= random_date(start,end)
    elif data.loc[i]['ID'] == data.loc[i-1]['ID'] and data.loc[i]['STATUS']=='REJECTED':
        start = data.loc[i-1]['UPDATE']
        end = start + datetime.timedelta(days= 7)
        data.at[i,"UPDATE"]= random_date(start,end)
    
    #Time limit for delivered is 15 days.
    elif data.loc[i]['ID'] == data.loc[i-1]['ID'] and data.loc[i]['STATUS']=='DELIVERED':
        start = data.loc[i-1]['UPDATE']
        end = start + datetime.timedelta(days= 15)
        data.at[i,"UPDATE"]= random_date(start,end)
    
    #No time limit for transactions.
    elif data.loc[i]['ID'] == data.loc[i-1]['ID'] and pd.isnull(data.loc[i]['STATUS']):
        start = data.loc[i-1]['UPDATE']
        end = datetime.datetime.today()
        data.at[i,"UPDATE"]= random_date(start,end)

In [7]:
data.to_csv('businessBIBA_challenge_dates.csv',index=False,na_rep='NULL')